/* CSS FOR SYSTEM LORD GAME, aka Star Wars RPG assignment */

/* START FONTS */

@font-face {
    font-family: 'cf_civilisation_mayaregular';
    src: url('fonts/cfcivilisationmaya-regular-webfont.eot');
    src: url('fonts/cfcivilisationmaya-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/cfcivilisationmaya-regular-webfont.woff2') format('woff2'), url('fonts/cfcivilisationmaya-regular-webfont.woff') format('woff'), url('fonts/cfcivilisationmaya-regular-webfont.ttf') format('truetype'), url('fonts/cfcivilisationmaya-regular-webfont.svg#cf_civilisation_mayaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* END FONTS */

/* START THE MAIN GAME CONTAINERS */

#container {
    width: 100vw;
    height: 100vh;
    /* background-color: bisque; */
    background: url(/assets/images/starfield.jpg);
    padding: 2% 0 2% 0;
}

#game_box {
    margin: 0 auto;
    height: 710px;
    max-width: 405px;
    /* background-color: aliceblue; */
    background-size: cover;
}

/* END THE MAIN GAME CONTAINERS */

/* START THE GAME NAME TITLE BOX */

#title_box {
    font-family: system;
    height: 40px;
}

#title_box h1 {
    text-align: center;
    color: #999;
    font-weight: 100;
    font-size: 1.4rem;
    letter-spacing: 1.2rem;
    padding: 18px 0 0 0px;
    text-shadow: 2px 2px 2px #222;
}

#title_box h1 span {
    color: #ccc;
    font-weight: 100;
    font-size: 1.4rem;
}

/* END THE GAME NAME TITLE BOX */

/* START THE MESSAGE BOX */

#message_box {
    height: 50px;
}

#message_text {
    font-family: system;
    letter-spacing: .05rem;
    line-height: 1.1rem;
    text-align: center;
    font-size: .8rem;
    padding-right: 12px;
    color: #bbb;
    text-shadow: 2px 2px 2px #222;
}

/* END THE MESSAGE BOX */

/* START THE FIGHT AREA CONTAINER AND ATTACK BUTTON */

#fight_box {
    float: left;
    /* background-color: #444; */
    height: 630px;
    width: 315px;
}

#attack_area {
    /* background-color: #ddd; */
    /* z-index: 3; */
    height: 20px;
    width: 315px;
    text-align: center;
}

#attack_area button {
    background-color: #740f0f;
    color: #aaa;
    height: 30px;
    width: 110px;
    text-align: center;
    font-family: system;
    letter-spacing: .3rem;
    border-radius: 1rem;
    padding-left: 11px;
    box-shadow: 1px 1px 10px rgb(2, 1, 0);
}

/* END THE FIGHT AREA CONTAINER AND ATTACK BUTTON */

/* START LARGE PLANET CONTAINERS, THE FIGHT BOXES */

#enemy_box {
    /* background-color: #666; */
    position: relative;
    height: 305px;
    width: 315px;
}

#your_box {
    /* background-color: #888; */
    position: relative;
    height: 305px;
    width: 315px;
}

/* END LARGE PLANET CONTAINERS, THE FIGHT BOXES */

/* START PLANET TAG STYLES */

/* ID of top large planet (enemy) name+hp box container */
#enemy_tag {
    box-sizing: border-box;
    width: 170px;
    font-family: 'system';
    position: absolute;
    bottom: 135px;
    right: 75px;
    opacity: .6;
    background-color: #444;
    border: 1px solid white;
    color: white;
    padding: 0px 10px;
    letter-spacing: .3rem;
}

/* ID of bottom large planet (you) name+hp box container */
#your_tag {
    box-sizing: border-box;
    width: 170px;
    font-family: 'system';
    position: absolute;
    bottom: 135px;
    right: 75px;
    opacity: .6;
    background-color: #444;
    border: 1px solid white;
    color: white;
    padding: 0px 10px;
    letter-spacing: .3rem;
}

/* ID of top (enemy) large planets name */
#enemy_name {
    text-align: left;
    padding: 1px 0px 2px 0px;
}

/* ID of bottom (you) large planets name */
#your_name {
    text-align: left;
    padding: 1px 0px 2px 0px;

}

/* ID of top (enemy) large planet health points */
#enemy_hp {
    /* text-align: left; */
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 1px 0px 1px 6px;
    background-color: red;
}

/* ID of bottom (you) large planet health points */
#your_hp {
    /* text-align: left; */
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 1px 0px 1px 6px;
    background-color: red;
}

/* END PLANET TAG STYLES */

/* START THE RIGHT SIDE COLUMN PLANET CONTAINER QUEUE */

/* the container area for the queue of small planets */
#char_bin {
    float: right;
    /* background-color: brown; */
    width: 90px;
    height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* class for the container holding each small planet */
.char_box {
    box-sizing: border-box;
    /* background-color: #222; */
    /* border: .5px solid #222; */
    width: 90px;
    height: 90px;
}

/* class for the img tag of each small planet */
.character {
    width: 100%;
    /* margin: 10px; */
}

/* class of tag box for small planets in queue */
.char_tag {
    /* margin: 0 auto; */
    /* box-sizing: border-box; */
    /* width: 80px; */
    font-family: 'system';
    font-size: .5rem;
    letter-spacing: .1rem;
    position: relative;
    bottom: 55px;
    /* right: -5px; */
    opacity: .6;
    background-color: #444;
    border: 1px solid white;
    color: white;
    padding: 0px 0px 0px 4px;
}

/* class of small planets name formatting */
.char_name {
    text-align: left;
    padding: 2px 0px 1px 0px;

}

/* class of small planets health points formatting */
.char_hp {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 1px 0px 1px 3px;
    background-color: red;
}
/* START THE RIGHT SIDE COLUMN PLANET CONTAINER QUEUE */